<div class="box">
    <h1>Register</h1>
    <div id="mat-card-actions">
      <form class="my-form" [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
        
        <!-- First Name -->
        <mat-form-field class="full-width">
          <mat-label>First Name</mat-label>
          <input matInput placeholder="First Name" name="firstName" id="firstName" formControlName="firstName" required>
          <mat-error *ngIf="registrationForm.get('firstName')?.hasError('required')">First Name is required.</mat-error>
          <mat-error *ngIf="registrationForm.get('firstName')?.hasError('minlength')">First Name must be at least 2 characters long.</mat-error>
        </mat-form-field>
        <br>
  
        <!-- Last Name -->
        <mat-form-field class="full-width">
          <mat-label>Last Name</mat-label>
          <input matInput placeholder="Last Name" name="lastName" id="lastName" formControlName="lastName" required>
          <mat-error *ngIf="registrationForm.get('lastName')?.hasError('required')">Last Name is required.</mat-error>
          <mat-error *ngIf="registrationForm.get('lastName')?.hasError('minlength')">Last Name must be at least 2 characters long.</mat-error>
        </mat-form-field>
        <br>
  
        <!-- Birth Date -->
        <mat-form-field class="full-width">
          <mat-label>Birth Date</mat-label>
          <input matInput placeholder="Birth Date" name="birthDate" type="date" id="birthDate" formControlName="birthDate" required>
          <mat-error *ngIf="registrationForm.get('birthDate')?.hasError('required')">Birth Date is required.</mat-error>
          <mat-error *ngIf="registrationForm.get('birthDate')?.hasError('pattern')">Invalid date format. Please use YYYY-MM-DD.</mat-error>
        </mat-form-field>
        <br>
  
        <!-- Email -->
        <mat-form-field class="full-width">
          <mat-label>Email</mat-label>
          <input matInput placeholder="Email" name="email" id="email" formControlName="email" required>
          <mat-error *ngIf="registrationForm.get('email')?.hasError('required')">Email is required.</mat-error>
          <mat-error *ngIf="registrationForm.get('email')?.hasError('email')">Please enter a valid email.</mat-error>
        </mat-form-field>
        <br>
  
        <!-- Password -->
        <mat-form-field class="full-width">
          <mat-label>Password</mat-label>
          <input matInput [type]="passwordFieldType" placeholder="Password" name="password" id="password" formControlName="password" required>
          <mat-error *ngIf="registrationForm.get('password')?.hasError('required')">Password is required.</mat-error>
          <mat-error *ngIf="registrationForm.get('password')?.hasError('minlength')">Password must be at least 6 characters long.</mat-error>
          <mat-error *ngIf="registrationForm.get('password')?.hasError('pattern')">Password must contain at least one letter, one number, and one special character.</mat-error>
          <button type="button" mat-icon-button (click)="togglePasswordVisibility()">
            <mat-icon>{{ passwordFieldType === 'password' ? 'visibility' : 'visibility_off' }}</mat-icon>
          </button>
        </mat-form-field>
        <br>
  
        <!-- Register Button -->
        <div id="mat-card-actions">
          <button mat-raised-button color="primary" type="submit" class="buttonSubmit" [disabled]="registrationForm.invalid">
            Register
          </button>
        </div>
  
        <!-- Spinner -->
        <div *ngIf="showSpinner">
          <mat-spinner mode="indeterminate" diameter="17"></mat-spinner>
        </div>
      </form>
    </div>
  </div>
  