<div class="box">
       <form class="addFlat" [formGroup]="addFlatForm" (ngSubmit)="onSubmit()">
         <h1>New Flat</h1>
         <mat-form-field class="full-width">
           <mat-label>City</mat-label>
           <input matInput placeholder="City" formControlName="city" />
         </mat-form-field>
     
         <mat-form-field class="full-width">
           <mat-label>Street Name</mat-label>
           <input matInput placeholder="Street Name" formControlName="streetName" />
         </mat-form-field>
     
         <mat-form-field class="full-width">
           <mat-label>Street Number</mat-label>
           <input matInput placeholder="Street Number" formControlName="streetNumber" type="number" />
         </mat-form-field>
     
         <mat-form-field class="full-width">
           <mat-label>Area Size</mat-label>
           <input matInput placeholder="Area Size" formControlName="areaSize" />
         </mat-form-field>
     
         <div class="checkbox-container">
           <mat-label>Has AC</mat-label>
           <mat-radio-group formControlName="AC">
            <mat-radio-button [value]="true">Yes</mat-radio-button>
            <mat-radio-button [value]="false">No</mat-radio-button>
          </mat-radio-group>          
         </div>
     
         <mat-form-field class="full-width">
           <mat-label>Year Built</mat-label>
           <input matInput placeholder="Year Built" formControlName="yearBuilt" type="number" />
         </mat-form-field>
     
         <mat-form-field class="full-width">
           <mat-label>Rent Price</mat-label>
           <input matInput placeholder="Rent Price" formControlName="rentPrice" type="number" />
         </mat-form-field>
     
         <mat-form-field class="full-width">
           <mat-label>Date Available</mat-label>
           <input matInput placeholder="Date Available" formControlName="dateAvailable" type="date" />
         </mat-form-field>
     
         <div id="mat-card-actions">
           <button mat-raised-button color="primary" type="submit" [disabled]="addFlatForm.invalid">
             Submit
           </button>
         </div>
       </form>
     </div>
     