<div *ngIf="isAdmin">
  <h1>All Users</h1>
  <ul>
    <li *ngFor="let user of users">
      <p><strong>{{ user.firstName }} {{ user.lastName }}</strong></p>
      <p>Email: {{ user.email }}</p>
      <p>Admin: {{ user.isAdmin ? 'Yes' : 'No' }}</p>
      <button (click)="editUser(user.id)">Edit</button>
      <button (click)="toggleAdmin(user.id, !user.isAdmin)">
        {{ user.isAdmin ? 'Remove Admin' : 'Make Admin' }}
      </button>
      <button (click)="deleteUser(user.id)">Delete</button>
    </li>
  </ul>
</div>
